In [1]:
from datetime import datetime
from time import sleep
import requests
import numpy as np
import pandas as pd

In [2]:
def t2s(the_time):
    return datetime.fromtimestamp(int(the_time)).strftime('%Y/%m/%d %H:%M')

# MySQL 中の1分足を取得

In [3]:
import mysql.connector

cnt = mysql.connector.connect(
    host='localhost',
    port='3306',
    db='bitmex',
    user='bitmex',
    password='bitmex',
    charset='utf8'
)

cur = cnt.cursor()

In [4]:
sql = "select t, o, h, l, c, v from xbtusd_1m order by t asc"
cur.execute(sql)
data = cur.fetchall()

In [5]:
t2s(data[0][0]), t2s(data[4][0])

('2017/01/01 09:00', '2017/01/01 09:04')

In [6]:
d = pd.DataFrame(data)

In [7]:
d.rename(columns={0:"t", 1:"o", 2:"h", 3:"l", 4:"c", 5:"v"})

                  t       o       h       l       c         v
0        1483228800   968.3   968.8   968.5   968.7     12993
1        1483228860   968.7   968.7   967.2   968.4     73800
2        1483228920   968.4   968.0   967.2   967.2      3500
3        1483228980   967.2   967.2   966.7   967.0     15969
4        1483229040   967.0   967.0   967.0   967.0       300
5        1483229100   967.0   967.0   967.0   967.0     13231
6        1483229160   967.0   966.9   966.9   966.9       500
7        1483229220   966.9   966.9   966.9   966.9         0
8        1483229280   966.9   966.9   966.9   966.9         0
9        1483229340   966.9   966.9   966.9   966.9         0
10       1483229400   966.9   966.9   966.9   966.9         0
11       1483229460   966.9   966.6   966.0   966.0     12900
12       1483229520   966.0   965.9   965.0   965.0    103237
13       1483229580   965.0   965.0   965.0   965.0         0
14       1483229640   965.0   964.9   964.9   964.9      8000
15       1483229700   964.9   964.9   964.9   964.9         0
16       1483229760   964.9   965.0   965.0   965.0      3000
17       1483229820   965.0   964.8   964.8   964.8         1
18       1483229880   964.8   964.8   964.8   964.8         0
19       1483229940   964.8   964.8   964.8   964.8         0
20       1483230000   964.8   964.8   964.8   964.8         0
21       1483230060   964.8   964.8   964.8   964.8         0
22       1483230120   964.8   964.8   964.8   964.8         0
23       1483230180   964.8   964.8   964.8   964.8         0
24       1483230240   964.8   964.8   964.8   964.8         0
25       1483230300   964.8   964.8   964.8   964.8         0
26       1483230360   964.8   965.1   965.1   965.1      5000
27       1483230420   965.1   964.8   964.5   964.5     35000
28       1483230480   964.5   964.5   964.5   964.5         0
29       1483230540   964.5   964.9   964.9   964.9      8000
...             ...     ...     ...     ...     ...       ...
1067770  1547295000  3607.5  3608.0  3593.0  3594.5   4029709
1067771  1547295060  3594.5  3596.5  3550.0  3584.0  23497792
1067772  1547295120  3584.0  3598.0  3582.5  3593.0   5670119
1067773  1547295180  3593.0  3606.0  3593.0  3603.5   5017891
1067774  1547295240  3603.5  3606.0  3601.5  3606.0   4713825
1067775  1547295300  3606.0  3649.0  3605.5  3626.5  15023049
1067776  1547295360  3626.5  3635.0  3601.5  3623.0   5039296
1067777  1547295420  3623.0  3623.0  3615.0  3619.5   3015780
1067778  1547295480  3619.5  3620.0  3616.0  3616.5   1684100
1067779  1547295540  3616.5  3617.0  3615.5  3615.5   1150759
1067780  1547295600  3615.5  3617.0  3615.0  3617.0   1753798
1067781  1547295660  3617.0  3617.0  3615.0  3615.5    947173
1067782  1547295720  3615.5  3615.5  3614.5  3614.5   1137971
1067783  1547295780  3614.5  3615.0  3614.5  3615.0    101562
1067784  1547295840  3615.0  3615.0  3614.5  3615.0    254901
1067785  1547295900  3615.0  3615.0  3614.5  3615.0    524900
1067786  1547295960  3615.0  3615.0  3611.0  3611.0   1371501
1067787  1547296020  3611.0  3612.5  3611.0  3612.0    849449
1067788  1547296080  3612.0  3612.5  3612.0  3612.0    288620
1067789  1547296140  3612.0  3612.5  3611.0  3611.0    455605
1067790  1547296200  3611.0  3611.5  3611.0  3611.5    394750
1067791  1547296260  3611.5  3611.5  3611.0  3611.0     93924
1067792  1547296320  3611.0  3615.0  3611.0  3615.0   1243412
1067793  1547296380  3615.0  3617.5  3614.5  3617.5   1360124
1067794  1547296440  3617.5  3620.0  3617.5  3618.0   2560976
1067795  1547296500  3618.0  3618.0  3617.5  3618.0    191410
1067796  1547296560  3618.0  3618.0  3617.5  3618.0    374956
1067797  1547296620  3618.0  3618.0  3617.5  3617.5     42704
1067798  1547296680  3617.5  3618.0  3617.5  3618.0    263977
1067799  1547296740  3618.0  3618.0  3617.5  3617.5    197008

[1067800 rows x 6 columns]

# １時間足の作成

In [8]:
w = 60
data2 = []
for i in range(0, int(len(data)/w)*w, w):
    t = data[i][0]
    o = data[i][1]
    h = data[i][2]
    l = data[i][3]
    v = data[i][5]
    for m in range(w):
        h = max(h, data[i+m][2])
        l = min(l, data[i+m][3])
        v += data[i+m][5]
    c = data[i+w-1][4]
    data2.append( (t, o, h, l, c, v) )

In [9]:
len(data2)

17796

In [10]:
len(data)

1067800

In [11]:
739274%w

14

In [12]:
data2[0]

(1483228800, 968.3, 968.8, 964.5, 968.0, 397534)

# MySQL への格納

In [13]:
cur.execute('drop table if exists xbtusd_1h')
cur.execute('create table xbtusd_1h (t int(11), o float(6,1), h float(6,1), l float(6,1), c float(6,1), v int unsigned)' )
cnt.commit()

In [14]:
sql = 'insert into xbtusd_1h values (%s, %s, %s, %s, %s, %s)'

##  データ追加
高速化のため、10000行ずつの塊で追加

In [15]:
step = 10000
for i in range(0, len(data2), step):
    j = i + step 
    if j > len(data2):
        j = len(data2)
    print(i,j)
    cur.executemany(sql, data2[i:j])
    cnt.commit()

0 10000
10000 17796

In [16]:
cur.execute("select count(*) from xbtusd_1h")
cur.fetchall()

[(17796,)]